.flashcard-container {
	perspective: 1000px;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.flashcard {
	width: 40vw;
	height: 55vh;
	text-align: center;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	font-size: 46px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.flashcard .front {
	background-color: #fff;
}
button {
	margin-top: 20px;
	padding: 10px 20px;
	border: none;
	background-color: #007BFF;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}
button:hover {
	background-color: #0056b3;
}
button.level-button:hover {
	background-color: #a1a1a1;
}
.level-buttons {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}
button.level-button.level-active {
	background-color: #f1c232;
	color: white;
}
button.level-button {
	background-color: #ececec;
	color: #363636;
}
.switch-container {
	display: flex;
	justify-content: center;
	gap: 100px;
	margin-bottom: 40px;
	margin-top: 25px;
}
.switch-label {
	font-size: 18px;
	text-align: center;
}
.switch {
	position: relative;
	display: inline-flex;
	align-items: center;
	width: 60px;
	height: 34px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
}
input:checked + .slider {
	background-color: #2196F3;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	transform: translateX(26px);
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
.correction {
	color: #007BFF;
	margin-top: 10px;
}
.french-word {
	margin-bottom: 20px;
	font-size: 26px;
} 

.result-text2 {
	width: 24vw;
	font-size: 18px;
	padding: 5px;
	background-color: #f0f0f0;
	border-radius: 5px;
	text-align: left;
}

.result-text1 {
	width: 8vw;
	font-size: 18px;
	padding: 5px;
	background-color: #f0f0f0;
	border-radius: 5px;
	text-align: left;
}

.input-container, .results {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}
.results {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
	position: absolute;
}
.input-field1 {
	width: 8vw;
	padding: 5px;
	font-size: 18px;
}
.input-field2 {
	width: 24vw;
	padding: 5px;
	font-size: 18px;
}

.button-container {
	display: flex;
	gap: 60px;
	justify-content: center; 
}

.button-container button {
	padding: 10px 20px;
	border: none;
	background-color: #007BFF;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

.button-container button:hover {
	background-color: #0056b3;
}

@media (max-width: 768px) {
	.flashcard {
		font-size: 24px;
		width: 85vw;
		height: 250px;
	}
  
	.result-text1 {
		width: 25vw;
		font-size: 14px;
		padding: 5px;
	}
  
	.result-text2 {
		width: 51vw;
		font-size: 14px;
		padding: 5px;
	}
  
	.input-field1 {
		width: 25vw;
		font-size: 14px;
		padding: 5px;
	}
  
	.input-field2 {
		width: 51vw;
		font-size: 14px;
		padding: 5px;
	}
}
